<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{Title}}{% endblock %}</title>
    <style>
        h1{
            color: Black;
        }
        h2{
            color: DarkOrchid;
        }
        div {background-color: rgba(255, 244, 147, 0.938); border-radius: 75px; margin: 5px; }
    </style>
</head>
<body style="background-color: MediumSpringGreen">
    <nav>
        <ul>
            <a href="{% url 'home_page' %}"> <h2> Home </h2></a>
            <a href="{% url 'form_page' %}"> <h2> Form </h2></a>
            <a href="{% url 'list_of_page' %}"> <h2> List of </h2></a>
        </ul>
    </nav>
    {% block content %}
    <div>
        <i><h1 align="center"> Jeeze, that dude is here again)</h1></i>
        <i><h1 align="center"> Yo!</h1></i>

    </div>
    {% endblock%}
</body>
</html>
